Language: Cpp
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Linux
IndentCaseLabels: false
IndentPPDirectives: AfterHash
ReflowComments: false
TabWidth: 4
UseTab: Never
